/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.home-background {
  background-image: url('./images/malaysia-wallpaper-1.jpg');
  background-size: cover;
  
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  max-height: 100%;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 50px;
  left: 0;
  margin: 0;
  /*
  top: 0;
  width: 100%;
  padding: 0;
  max-height: 100%; */
  z-index: -1;
}

/* Home page search form */
.form-panel{
  border: 1px solid rgb(221,221,221) !important;
  border-radius: 32px !important;
  color: rgb(34,34,34) !important;
  display: flex !important;
  height: 66px !important;
  position: relative !important;
  width: 70% !important;
  
  /* positioning */
  top: 65px;
  margin-left: auto;
  margin-right: auto;
  
  --big-search-form-background: #FFFFFF !important;
  background-color: rgb(255,255,255) !important;
}

.form-inside-panel{
  display: flex !important;
  flex: 1 1 0% !important;
  height: 100% !important;
  min-width: 0px !important;
  pointer-events: auto !important;
}

.location-form{
  flex: 1.5 0 0% !important;
}

.location-inside-form{
  -moz-box-align: center !important;
  position: relative !important;
  align-items: center !important;
  display: flex !important;
  flex: 1 0 0% !important;
  margin: -1px !important;
  min-width: 0px !important;
}

.location-label{
  cursor: pointer !important;
  display: block !important;
  background-clip: padding-box !important;
  border: 1px solid transparent !important;
  border-radius: 32px !important;
  flex: 1 0 0% !important;
  min-width: 0px !important;
  padding: 14px 32px !important;
}

.location-label-box{
  position: relative !important;
  z-index: 1 !important;
}

.location-text{
  font-weight: 800 !important;
  letter-spacing: 0.04em !important;
  font-size: 12px !important;
  line-height: 16px !important;
  padding-bottom: 2px !important;
}

.location-input{
  display: block !important;
  border: 0px none !important;
  margin: 0px !important;
  padding: 0px !important;
  width: 100% !important;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  color: rgb(34, 34, 34) !important;
}

.right-border-container{
  align-self: center !important;
  border-right: 1px solid rgb(221, 221, 221) !important;
  flex: 0 0 0px !important;
  height: 32px !important;
}

.checkIn-checkOut-container{
  display: flex !important;
  flex: 2 0 0% !important;
  min-width: 0px !important;
}

.checkin-container{
  -moz-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  flex: 1 0 0% !important;
  margin: -1px !important;
  min-width: 0px !important;
  position: relative !important;
}

.checkin-inside-container{
  appearance: none !important;
  background: transparent none repeat scroll 0% 0% !important;
  border: 0px none !important;
  color: inherit !important;
  cursor: pointer !important;
  display: block !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  margin: 0px !important;
  outline: currentColor none medium !important;
  overflow: visible !important;
  padding: 1px !important;
  text-align: left !important;
  text-decoration: none !important;
  user-select: auto !important;
  flex: 1 0 0% !important;
  width: 0px !important;
  z-index: 1 !important;
}

.checkin-dates-container{
  padding: 14px 24px !important;
  overflow: hidden !important;
  position: relative !important;
  white-space: nowrap !important;
  width: 100% !important;
  z-index: 1 !important;
}

.checkin-label{
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: 800 !important;
  letter-spacing: 0.04em !important;
  padding-bottom: 2px !important;
}

.checkin-date-label{
  font-size: 14px !important;
  line-height: 10px !important;
  color: rgb(113, 113, 113) !important;
  font-weight: 400 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 100% !important;
}

.checkout-container{
  -moz-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  flex: 1 0 0% !important;
  margin: -1px !important;
  min-width: 0px !important;
  position: relative !important;
}

.checkout-inside-container{
  appearance: none !important;
  background: transparent none repeat scroll 0% 0% !important;
  border: 0px none !important;
  color: inherit !important;
  cursor: pointer !important;
  display: block !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  margin: 0px !important;
  outline: currentColor none medium !important;
  overflow: visible !important;
  padding: 1px !important;
  text-align: left !important;
  text-decoration: none !important;
  user-select: auto !important;
  flex: 1 0 0% !important;
  width: 0px !important;
  z-index: 1 !important;
}

.checkout-dates-container{
  padding: 14px 24px !important;
  overflow: hidden !important;
  position: relative !important;
  white-space: nowrap !important;
  width: 100% !important;
  z-index: 1 !important;
}

.checkout-label{
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: 800 !important;
  letter-spacing: 0.04em !important;
}

.checkout-date-label{
  font-size: 14px !important;
  line-height: 18px !important;
  color: rgb(113, 113, 113) !important;
  font-weight: 400 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 100% !important;
}

.guest-container{
  -moz-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  margin: -1px !important;
  min-width: 0px !important;
  position: relative !important;
  flex: 0.95 0 auto !important;
}

.guest-inside-container{
  appearance: none !important;
  background: transparent none repeat scroll 0% 0% !important;
  border: 0px none !important;
  color: inherit !important;
  cursor: pointer !important;
  display: block !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  margin: 0px !important;
  outline: currentColor none medium !important;
  overflow: visible !important;
  padding: 1px !important;
  text-align: left !important;
  text-decoration: none !important;
  user-select: auto !important;
  flex: 1 0 0% !important;
  width: 0px !important;
  z-index: 1 !important;
}

.guest-addguest-container{
  padding: 14px 24px !important;
  overflow: hidden !important;
  position: relative !important;
  white-space: nowrap !important;
  width: 100% !important;
  z-index: 1 !important;
}

.guest-container{
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: 800 !important;
  letter-spacing: 0.04em !important;
  padding-bottom: 2px !important;
}

.addguest-container{
  font-size: 14px !important;
  line-height: 18px !important;
  color: rgb(113, 113, 113) !important;
  font-weight: 400 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 100% !important;
}

.search-button-container{
  flex: 0 0 auto !important;
  margin-left: -6px !important;
  padding-right: 9px !important;
  position: relative !important;
  z-index: 5 !important;
}

.search-button{
  background-color: #FF385C !important;
  appearance: none !important;
  background: rgb(255, 56, 92) none repeat scroll 0% 0% !important;
  border: 0px none !important;
  color: rgb(255, 255, 255) !important;
  cursor: pointer !important;
  /*display: inline-block !important;*/
  font-family: inherit !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  /*margin: 0px !important;*/
  outline: currentColor none medium !important;
  overflow: hidden !important;
  /*padding: 0px !important;*/
  /*text-align: inherit !important;*/
  text-decoration: none !important;
  user-select: auto !important;
  border-radius: 24px !important;
  height: 48px !important;
  max-width: 48px !important;
  position: relative !important;
  transition-property: max-width;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.35, 0, 0.65, 1);
  transition-delay: 0s;
  vertical-align: center !important;
  display: block !important;
  text-align: center !important;
  width: 100%;
}

.search-icon-container{
  color: rgb(255, 255, 255) !important;
  cursor: pointer !important;
  font-family: inherit !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 0px !important;
  width: 100%;
  margin: 0 8px !important;
  /*text-align: inherit !important;*/
  
}

.search-icon{
  color: rgb(255, 255, 255) !important;
  cursor: pointer !important;
  font-family: inherit !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  /*text-align: inherit !important;*/
  
}

.search-label{
  opacity: 0 !important;
  padding-left: 8px !important;
  padding-right: 4px !important;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.35, 0, 0.65, 1);
  transition-delay: 0.1s;
}

.slogan-container{
  height: 32em !important;
  width: 100% !important;
  margin-left: 18% !important;
  margin-right: auto !important;

  position: relative !important;
}

.slogan-text{
  font-family: 'Lobster', cursive !important;
  font-weight: 800 !important;
  letter-spacing: 0.04em !important;
  font-size: 56px !important;
  line-height: 40px !important;
  padding-bottom: 2px !important;
  color: khaki;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px #000, -1px 1px 0 #000, 1px 1px 0 #FFF;
}

/* Modal Style */
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content{
  background-color: white;
  position: absolute;
}

.registration-title{
  font-family: 'Newsreader', serif !important;
  font-weight: 800 !important;
  letter-spacing: 0.04em !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-label{
  font-family: 'PT Sans Narrow', sans-serif;
}

/* Become a host page style */
.host-header-container{
  height: 100% !important;
  width: 100% !important;
}

.host-header {
  background-image: url('./images/malaysia-resort.jpg');
  background-repeat: no-repeat;

  /* Set rules to fill background */
  min-height: 82%;
  min-width: 1455px;

  max-height: 82%;
  max-width: 1550px;

  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;

  /* Set up positioning */
  position: static;
  /*top: 15px;*/
  z-index: -6;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.host-header-text-container{
  height: 20% !important;
  width: 100% !important;
  margin-left: 5% !important;
  margin-right: auto !important;
  margin-bottom: 5%;
  position: relative !important;
}

.host-header-text{
  font-family: 'Cinzel', serif !important;
  font-weight: 800 !important;
  font-size: 34px !important;
  padding-top: 17%;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px #000, -1px 1px 0 #000, 1px 1px 0 #FFF;
}

.host-header-text-1{
  font-family: 'Goblin One', cursive !important;
  font-size: 40px !important;
  color: yellow;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px #000, -1px 1px 0 #000, 1px 1px 0 #FFF;
}

.host-header-text-2{
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 36px !important;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px #000, -1px 1px 0 #000, 1px 1px 0 #FFF;
}

.host-body {
  background-color: white;
  background-repeat: no-repeat;

  /* Set rules to fill background */
  min-width: 1430px;
  max-width: 1550px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: static;
  top: 90%;
  z-index: -6;
}

.host-body-container-1{
  margin-left: 7% !important;
  margin-right: 7% !important;
  margin-top: 3% !important;
  margin-bottom: 2% !important;
}

.host-body-1-col1{
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 45px !important;
  color: black;
}

.host-body-1-col2{
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 28px !important;
  color: grey;
}

.host-body-1-col2-sub{
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 20px !important;
  color: black;
}

.host-body-title{
  font-family: 'Lobster', cursive !important;
  font-size: 60px !important;
}

/* Footer styles */
.footer-box{
  padding: 65px 60px;
  background: rgb(247, 247, 247);
  border-top: 1px solid white;
  position: static;
  bottom: 0;
  width: 100%;
}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-container-column{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}

.footer-container-row{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 20px;
}

.footer-link{
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
}

.footer-heading{
  font-size: 18px;
  color: black;
  margin-bottom: 16px;
  font-weight: bold;
}

/* How RnR Works style */
.about-rnr-header-text-container{
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-family: 'Lobster', cursive !important;
  font-weight: 800 !important;
  letter-spacing: 0.01em !important;
  font-size: 76px !important;
}

.about-rnr-body-1-col{
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 32px !important;
  color: grey;
}

